@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    root: ":root";
    include: button, input, select;
    exclude: none;
    prefix: "";
    logs: true;
}

.filters-box {
    .filter {
        .btn {
            &:is(input[type="checkbox"], input[type="radio"]) {
                &:checked {
                    --btn-color: var(--color-red-400);
                    --btn-bg: var(--color-red-400);
                    --btn-fg: var(--color-white);
                    --btn-border: var(--color-red-400);
                }
            }
        }
    }
}